
body {
    margin: 0px;
    height: fit-content;
}
.section1 {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 550px;
}
.a {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}
.b1{
    display: flex;
    flex-direction: column;
}

.b {
    display: inline-flex;
    flex-direction: row;
    max-width: fit-content;
    max-height: 300px;
}

ul {
    list-style-type: none;
}

.link {
    display:flex;
    justify-content: space-between;
 
}
li {
    margin-inline: 15px;
}

.gto {
    margin-left: 250px;
    margin-top: 40px;
    width: 400px;
    height: 250px;

}
#Awesome {
    width: 300px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin-left: 40px;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    font-weight: 900;
    width: fit-content;
    margin-left: 40px;
}
.header {
    display: inline-flex;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    width: fit-content;
    margin-left: 40px;
    margin-top: 15px;
}
p {
    width: 300px;
    margin-left: 40px;
}
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550;
}
#info {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.Images {
    border-radius: 30px;
}
.sport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 125px;
    padding: 20px;
}
.SportImg {
    display: flex;
    flex-direction: column;
}
.MessiImg {
    display: flex;
    flex-direction: column;
}
.UsainImg {
    display: flex;
    flex-direction: column;
}
.LerbonImg {
    display: flex;
    flex-direction: column;
}
.text {
    margin-bottom: 0%;
    margin-top: 15px;
    align-self: center;
}